body{font-family:'宋体','微软雅黑';margin:0 auto;padding:0;background:#FFF;font-size:12px;color:#333;}
body > div{margin-right:auto;margin-left:auto;}
div,form,ul,ol,li,span,p{margin:0;padding:0;border:0;}
img,a img{border:0;margin:0;padding:0;}
/*h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}*/
ul,ol,li{list-style:none;text-align: center;}
table,td,input{font-size:12px}
td{text-align: center;}
a{outline-style:none;color:#333;text-decoration:none}
a:hover{text-decoration:none;}
.footer{
	text-align: center;
}
.footer-ifr{
	position: relative;
    top: 6px;
}
.footer-wrap{
	    padding-top: 100px;
	    margin-top: 60px;
}
.v-footer{
	margin: 0 auto;
	text-align: center;
}
.v-button{
	    background: #2d8cf0;
	    border: none;
    border-radius: 6px;
    width: 64px;
    height: 28px;
    color: #fff;
    cursor: pointer;
}
